@{
    ViewData["Title"] = "Home Page";
}

<div class="home">
    <h1 class="display-4">Welcome to the Annual Potluck Series!</h1>
    <br />
    <br />
    <p>Please select to <a href="/Home/RSVP">RSVP</a> or <a href="/Home/BringDish">Bring a Dish</a> .</p>
</div>
